body{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
body > .background-video{
    height: 120%;
    filter: blur(20px);

}
.mini-block{
    position: relative;
}
.content-for-text {
    display: block;
    height: auto;
    overflow: hidden;
    
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; /* Помещает видео за контент */
}
.container{
    backdrop-filter: blur(10px);
}
header{
    margin: 100px;
}

.play_video{
    pointer-events: none;
    height: 100%;
    filter: blur(2px);
    transition: all 0.4s;
}
/* video:hover{ */
/* } */

/* .content-for-text{
    z-index: 10;
    box-shadow: 3px -1px 20px 6px #ffffff, inset -2px -2px 20px 8px #944141, 0px 1px 2px #0027ff; */
    /* padding: 20px; */
    /* border-radius: 0px; */
    /* border: 2px saddlebrown solid; */
    /* height: 1000px;
}  */
.text{
    text-shadow: 3px -1px 0px #49acfe, 1px 0px 20px white, 1px 0px 16px rgb(255, 255, 255);   
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    backdrop-filter: blur(4px);
    background-color: rgba(245, 222, 179, 0.349);
    /* font-size:; */
    display: flex;
    border: 2px white solid;
    border-radius: 20px;
    position: relative;
    z-index: 10;
}
.content{
    box-shadow: inset 0px 0px 10px 15px black;    
    margin-top: 20px;
    display: flex;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    border: 1px black solid;
    z-index: 100;
    position: relative;
    
}
.content:hover{
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0);
    border: 1px rgba(0, 0, 0, 0) solid;
    overflow:visible;
    /* backdrop-filter: opacity(100%); */
}
.video{
    /* position: absolute; */
    /* box-shadow: 0px 0px 10px red; */
    /* border: 1px red solid; */
    transition: transform .2s ease-in;
    z-index: 1;

}
.content:hover .video{
    
    transform: translate(150%, 0%);
}

.content:hover .play_video{
    filter: blur(0px);
    transform: scale(2.5,2.5);
}
.text > a{
    z-index: 100;
    padding-top: 27px;
    padding-right: 6px;
}
.just-for-more-space{
    margin-top: 20px;
}
a{

    text-decoration: none;
}
sup{
    filter: grayscale(100%);
}

@media screen and (max-width: 1000px) {
    /* .text{
        font-size: 20px; */
    .text > a{
        padding-top: 24px;
        padding-right: 6px;
    }
}
@media screen and (max-width: 600px) {
    .content-for-text{
        padding: 0;
    }
}
/* .block-1{
    position: relative;
    padding:50px;
}
.container-gpt {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Чтобы не мешало остальным дивам 
} */

/* .video-with-alpha {
    transform: scale(100%);
    /* margin-top: -79px; */

    /* top: -150px; 
    position: absolute;
    box-sizing: border-box;
    width: 1200px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    
    z-index: 10;
}

.other-content {
    position: relative;
    /* z-index: 1; 
    pointer-events: auto;
} */
.border-div{
    margin: auto;
    margin-top: 50px;
    /* display: flex; */
    width: 710px;
    height: 398px;
    /* max-width: 80%; */
    position: relative;
    margin-bottom: 40px;

}
.border{
    top: 0px;

    transform: scale(1.478, 1.4);
    max-width: 100%;

    z-index: 1;
    position: absolute;
}
@media screen and (max-width: 1000px){
    .border-div{
        height: 663px;
    }
    .border{
        top: 132px;
        transform: scale(1.478, 2.32);
    }
}